@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Gothic+A1&family=Metal&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sekuya&family=Vampiro+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url(./background_01.png);
    background-position: cover;
}

.titles {
    font-family: "Sekuya", system-ui;
    font-weight: 800;
    color:  rgb(114, 116, 34);
}

.comic-page {
    width: fit-content;
    margin: auto;
}

.page {
    display: block;
    max-width: 100%;
}

.nav-arrows {
    
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
    box-sizing:border-box;
}

.nav-arrows img {
    
    width: 60px;
    height: auto;
    cursor: pointer;
}

.page {
    margin:auto;
}
